/* 
    Document   : map
    Created on : 30-Mar-2012, 11:15:47
    Author     : mat
    Description:
        layout for  map of seedbed centre   
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.clickthrough {
	width:30px;
	height:30px;
	
	font-weight:bold;
	font-size:0.8em;
	
}
.shield {
	color:#fff;
}
.highlight {background-color: yellow;}

#mainmap {
    position:relative;
    width:650px;
    height:535px;
  background: url('background/mapbackground.png') no-repeat;
}
.eblockContainer {
	top:120px;
	left:246px;
	position:absolute;
	transform:rotate(33deg);
-ms-transform:rotate(33deg); /* IE 9 */
-webkit-transform:rotate(33deg); /* Safari and Chrome */

}
.eblock {
	float:left;
    position:relative;
    width:27px;
    height:44px;
    padding-top:14px;
    
    
    background:#0088CC;
    opacity:0.7;
    text-align: center;
    z-index:0;
  
}

.eblock:hover {
	opacity:0.5;
}



.dblock {
   float:left;
    position:relative;
    width:38px;
    height:42px;
      padding-top:8px;
      padding-left:2px;
    background:#0088CC;
    opacity:0.7;
    text-align: center;

}

.dblockLarge {
    float:left;
    position:relative;
    width:38px;
    height:42px;
     padding-top:12px;
    background:#0088CC;
    opacity:0.7;
    text-align: center;

}


.bblock {
    position:absolute;
    width:28px;
    height:30px;
     padding-top:5px;
      padding-left:0px;
    background:url('map/bblock.png') no-repeat;
    opacity:0.7;
    text-align: center;

}

.bblockLarge {
    position:absolute;
    width:37px;
    height:39px;
    padding-top:9px;
    background:url('map/bblockLarge.png') no-repeat;
    opacity:0.7;
    text-align: center;

}
.ablock, .cblock {
    position:absolute;
    width:69px;
    height:74px;
      padding-top:26px;
    background:url('map/ablock.png') no-repeat;
    opacity:0.7;
    text-align: center;

}
.hidden {
	  background:none;
}




#d14 {    top:258px;    left:344px; }

#d13 {    top:270px;    left:358px; }
#d12 {    top:282px;    left:372px; }
#d11 {    top:294px;    left:386px; }
#d10 {    top:306px;    left:400px; }
#d9 {    top:318px;    left:414px; }
#d8 {    top:330px;    left:428px; }

#d1 {    top:297px;    left:313px; }
#d2 {    top:304px;    left:331px; }
#d3 {    top:316px;    left:345px; }
#d4 {    top:328px;    left:359px; }
#d5 {    top:340px;    left:373px; }
#d6 {    top:352px;    left:387px; }
#d7 {    top:364px;    left:401px; }

#b10 {    top:162px;    left:212px; }
#b1 {    top:192px;    left:186px; }
#b2 {    top:204px;    left:200px; }
#b3 {    top:216px;    left:214px; }
#b4 {    top:228px;    left:228px; }
#b5 {    top:240px;    left:242px; }

#b9 {    top:175px;    left:218px; }
#b8 {    top:187px;    left:232px; }
#b7 {    top:199px;    left:246px; }
#b6 {    top:211px;    left:260px; }


#a4 {    top:269px;    left:86px; }
#a3 {    top:292px;    left:114px; }
#a2 {    top:315px;    left:142px; }
#a1 {    top:338px;    left:170px; }


#c3 {    top:379px;    left:216px; }
#c2 {    top:402px;    left:244px; }
#c1 {    top:425px;    left:272px; }
/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

}



/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

