/* 
    Document   : map
    Created on : 30-Mar-2012, 11:15:47
    Author     : mat
    Description:
        layout for  map of seedbed centre   
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.clickthrough {
	
	font-size:0.8em;
	
}
.shield {
	color:#fff;
}

.clickmap:hover {
	opacity:0.5;
}

.highlight {background-color: yellow;}

#mainmap {
    position:relative;
    margin: 0 auto;
    width:650px;
    height:535px;
  background: url('background/mapbackground.png') no-repeat;
  transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Safari and Chrome */
 
}
.eblockContainer {
	top:120px;
	left:246px;
	position:absolute;
	transform:rotate(33deg);
-ms-transform:rotate(33deg); /* IE 9 */
-webkit-transform:rotate(33deg); /* Safari and Chrome */

}
.eblock {
	float:left;
    position:relative;
    width:27px;
    height:44px;
    padding-top:14px;
    
    
    background:#0088CC;
    opacity:0.7;
    text-align: center;
    z-index:0;
  
}


.dblockContainer {
	top:335px;
	left:317px;
	position:absolute;
transform:rotate(38deg);
-ms-transform:rotate(38deg); /* IE 9 */
-webkit-transform:rotate(38deg); /* Safari and Chrome */

}
.dblockContainer2 {
	top:300px;
	left:345px;
	position:absolute;
transform:rotate(38deg);
-ms-transform:rotate(38deg); /* IE 9 */
-webkit-transform:rotate(38deg); /* Safari and Chrome */

}
.dblock {
   float:left;
    position:relative;
    width:18px;
    height:18px;
      padding-top:8px;
      padding-left:2px;
    background:#0088CC;
    opacity:0.7;
    text-align: center;

}
#d1 {
	top:14px;
}

.dblockLarge {
    float:left;
    position:relative;
    width:18px;
    height:28px;
     padding-top:12px;
    background:#0088CC;
    opacity:0.7;
    text-align: center;

}
.clickthrough {
	
	transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* IE 9 */
-webkit-transform:rotate(-90deg); /* Safari and Chrome */
}

.bblock {
    float:left;
    position:relative;
    width:18px;
    height:18px;
     padding-top:5px;
      padding-left:0px;
    background:#0088CC;
    opacity:0.7;
    text-align: center;

}
.bblockContainer {
	top:220px;
	left:185px;
	position:absolute;
transform:rotate(38deg);
-ms-transform:rotate(38deg); /* IE 9 */
-webkit-transform:rotate(38deg); /* Safari and Chrome */

}
.bblockContainer2 {
	top:188px;
	left:205px;
	position:absolute;
transform:rotate(38deg);
-ms-transform:rotate(38deg); /* IE 9 */
-webkit-transform:rotate(38deg); /* Safari and Chrome */

}
.bblockLarge {
     float:left;
    position:relative;
    width:18px;
    height:24px;
    padding-top:9px;
   background:#0088CC;
    opacity:0.7;
    text-align: center;

}

.ablockContainer  {
	top:298px;
	left:93px;
	position:absolute;
transform:rotate(40deg);
-ms-transform:rotate(40deg); /* IE 9 */
-webkit-transform:rotate(40deg); /* Safari and Chrome */

}
.cblockContainer  {
	top:400px;
	left:233px;
	position:absolute;
transform:rotate(40deg);
-ms-transform:rotate(40deg); /* IE 9 */
-webkit-transform:rotate(40deg); /* Safari and Chrome */

}
.ablock, .cblock {
   float:left;
    position:relative;
    width:35px;
    height:44px;
      padding-top:26px;
    background:#0088CC;
    opacity:0.7;
    text-align: center;

}
.hidden {
	  background:none;
}

.available {
	background:rgb(45, 65, 109);
}







/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

}



/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

