/* 
    Document   : template
    Created on : 07-Mar-2012, 14:51:17
    Author     : mat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
	background: #ffffff;
}

#fullbackground {
	position: absolute;
	z-index: -10;
}

#whitefade {
	position: absolute;
	background: url('background/whitegrad.png') repeat-x;
	width: 100%;
	top: 300px;
	height: 100%;
	z-index: -9;
}

#whitefadefiller {
	position: absolute;
	background: #fff;
	width: 100%;
	top: 650px;
	height: 2000px;
	z-index: -8;
}

root {
	display: block;
}

.container {
	
}

.mainheading {
	margin-top: 8px;
	background: #1f313f;
	opacity: 0.9;
	margin-bottom: 8px;
}

.mainheading h2,.mainheading h3,.mainheading h4 {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	margin-bottom: 0px;
}

.internal {
	margin-left: 0px;
	margin-right: 0px;
}

.big_menu {
	width: 100%;
	display: block;
	position: relative;
	height: 100%;
	margin-left: 0px;
	padding-top: 50px;
	padding-bottom: 15px;
}

#headertext {
	background: #121c24;
	color: #fff;
	opacity: 0.9;
	-moz-box-shadow: 3px 3px 12px #000000;
	-webkit-box-shadow: 3px 3px 12px #000000;
	box-shadow: 3px 3px 12px #000000;
}

#headerimage {
	-moz-box-shadow: 3px 3px 12px #000000;
	-webkit-box-shadow: 3px 3px 12px #000000;
	box-shadow: 3px 3px 12px #000000;
}

.bluebox {
	background-color: #007eff;
	color: #fff;
	opacity: 0.9;
	height: 100px;
	margin-bottom: 8px;
	margin-top: 8px;
	position: relative;
}

#bluebox_content {
	padding: 10px;
}

.blue_logo {
	display: block;
	float: left;
	width: 35px;
}

.blue_text {
	position: relative;
	width: 150px;
	display: block;
	float: left;
	padding-left: 10px;
}

.blue_text h4 {
	color: #fff;
	line-height: 23px;
}

.clickhere {
	display: none;
	position: absolute;
	bottom: 0px;
	padding-left: 10px;
}

.clickhere a {
	text-decoration: none;
	color: #ffffff;
}

#headertext img {
	width: 88.9%;
	color: #fff;
	padding: 10px;
}

.big_menu h1 {
	text-align: center;
	display: block;
	position: relative;
	color: #62b8c0;
}

.big_menu a {
	text-decoration: none;
	color: #62b8c0;
}

#big_heading {
	width: 100%;
	display: block;
	position: relative;
	background-color: #141414;
	height: 100%;
	margin-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#big_heading h2 {
	font-size: 30px;
	color: #1f5c6c;
}

#top_heading {
	width: 100%;
	display: block;
	position: relative;
	color: #ffffff;
	background-color: #1f313f;
	opacity: 0.9;
	height: 45px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 2000;
}

.nav {
	display: block;
	position: absolute;
	background-color: #121c24;
	width: 100%;
	height: 35px;
	z-index: 1500;
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
}

.sticky {
	position: fixed;
	top: 0;
}

.sticky2 {
	position: absolute;
	right: 0px;
}

.sub {
	padding-top: 0px;
}

#menutop {
	width: 100%;
	height: 31px;
	text-align: left;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	padding-left: 0px;
	border-top: solid 0px #4a5b63;
	line-height: 31px;;
	display: block;
	position: relative;
}

#menutop ul {
	margin-right: auto;
	margin-left: auto;
}

#menutop li {
	display: inline;
	padding-right: 14px;
}

#menutop a {
	text-decoration: none;
	color: #ffffff;
}

#top_heading h2 {
	color: #ffffff;
	font-weight: normal;
}

.feature_box {
	float: left;
	color: #fff;
	height: 100px;
	margin-bottom: 8px;
	margin-top: 8px;
	background-color: #5687b5;
}

.feature_box a,.feature_box h4 {
	text-decoration: none;
	color: #fff;
}

.features {
	
	margin-bottom: 8px;
	margin-right:30px;
	width: 200px;
	padding:0px;
}

#footerblock {
	width: 100%;
	display: block;
	position: relative;
	color: #ffffff;
	background-color: #1f313f;
	height: 100%;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footerblock h3 {
	color: #007eff;
}

#footerblock a {
	color: #007eff;
}

.services {
	background-color: #007eff;
	text-align: center;
	height: 40px;
	margin-bottom: 10px;
	padding: 2px;
	color: #ffffff;
}

.services_box a {
	color: #fff;
	text-decoration: none;
}

.service {
	clear: both;
	padding: 10px;
	color: #fff;
	background-color: #5687b5;
	display: block;
}

.service a {
	color: #fff;
	text-decoration: none;
}

.costoptions {
	background-color: #007eff;
	position: relative;
	height: 210px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #ffffff;
}

.costoptions h4 {
	color: #ffffff;
}

.price {
	height: 35px;
	background-color: #005cbb;
	position: absolute;
	bottom: 0px;
}


ul.unitmenu, ul.unitmenu ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.unitmenu a {
    display: block;
    text-decoration: none;	
}

ul.unitmenu li {
    margin-top: 1px;
}

ul.unitmenu li a {
    background: #2c66b0;
    color: #fff;	
    padding: 0.5em;
}

ul.unitmenu li a:hover {

    background: #3d77c0;
    color: #fff;	
}

ul.unitmenu li ul li a {
    background: #7492fd;
    color: #339;
    padding-left: 20px;
}

ul.unitmenu li ul li a:hover {
    background: #d0dafd;
    color: #339;
    border-left: 5px #2c66b0 solid;
    padding-left: 15px;
}
.clicky {
	
	cursor:pointer;
}
.newsImage {
    float:left;
    width:200px;
    padding-right:20px;
}
.newsImage img {
    
    width:200px;
}