/*--------------------------- countdown box ---------------------- */
#countdown {
    margin: 0 auto 0%;
    text-align: center;
}
.countdown_section {
    width: 160px;
    padding-top: 30px;
    height: 130px;
    margin: 30px -10px;
    display: inline-block;
    color: #000;
    background: url(../images/5p.png);
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.lt-ie9 .countdown_section {
    margin: 30px 5px;
    *display: inline;
    *zoom: 1;
}
.countdown_amount {
    color: #000;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
}

/*--------------------------- overrides of regular page styles ---------------------- */

.coming-soon #logo {
    float: none;
    margin: 30px auto 0;
}
.coming-soon #page {
    padding-top: 80px;
    margin: 0;
}
.coming-soon .bg {
    top: 0
}
.coming-soon .header {
    position: relative
}
.coming-soon .secondary-menu {
    height: 10px!important;
    min-height:10px!important;
}
.coming-soon .footer {
    background: transparent;
    padding-top: 0
    margin: 0 auto;
    border: 0px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.coming-soon .footer section {
    padding-bottom: 3%;
    max-width:980px;
    margin:0 auto;
}
.lt-ie8 .coming-soon .footer {	border-top:0px}

.coming-soon .footer .fc-webicon {
    border: 0px
}
.coming-soon .footer p,
.coming-soon .footer li,
.coming-soon .footer a {
    color: #333
}

/*--------------------------- form ---------------------- */
.coming-soon .form-wrapper {
    *zoom: 1  
}
.coming-soon .form-wrapper:before,
.form-wrapper:after {
    display: table;
    content: "";
    line-height: 0;
}
.coming-soon .form-wrapper:after {
    clear: both
}

.coming-soon .form-wrapper.row-fluid {
    padding: 0 5%;
    max-width: 600px;
    width: 90%;
    margin: 0 auto!important;
    line-height: 60px;
}
.coming-soon small {
    font-size: 80%
}
.coming-soon .email {
    border: 1px solid #ddd;
    float: left;
    background: #f8f8f8;
    font-size: 1em;
    padding: 10px 5%!important;
    height: 28px!important;
    outline: none;
    margin: 0;
    line-height: 1;
    width: 56%;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .1);
}
.coming-soon .form-wrapper .btn-primary {
    float: right;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    height: 50px;
    width: 33%;
    margin: 0;
}

/*--------------------------- media queries ---------------------- */

@media only screen and (max-width: 979px) { 
	.coming-soon #logo {
	    margin: 15px auto 8px;
	}
	.coming-soon #page {
	    padding-top: 0px;
	    margin: 0;
	}
	.coming-soon .secondary-menu {
	    height: 5px;
	    display: block;
	}
	#countdown {
	    margin: 30px auto 0;
	    text-align: center;
	}
	.countdown_section {
	    width: 100px;
	    padding-top: 20px;
	    height: 80px;
	    margin: -10px -5px;
	    text-align: center;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	}
	.countdown_amount {
	    font-size: 35px;
	    line-height: 35px;
	}
}
@media only screen and (max-width: 480px) { 
	.coming-soon .form-wrapper .email {
	    padding: 10px 5%;
	    height: 28px!important;
	    line-height: 40px;
	    width: 90%!important;
	    float: none;
	    margin-bottom: 5px!important;
	    text-align: center;
	}
	.coming-soon .form-wrapper .btn-primary {
	    float: none;
	    clear: both;
	    height: 50px;
	    padding: 0;
	    width: 100%!important;
	    display: block;
	    margin-bottom: 10px;
	}
}
